<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">


  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>ApplyFilter</filter-name>
    <filter-class>team.market.merchant.Filter.ApplyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplyFilter</filter-name>
    <url-pattern>/applicant.jsp</url-pattern>
  </filter-mapping>


  <listener>
    <listener-class>team.market.merchant.listener.FileContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>team.market.common.manager.listener.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>team.market.common.manager.listener.RequestListener</listener-class>
  </listener>

  <listener>
    <listener-class>team.market.common.auth.listener.SecurityContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>team.market.common.auth.listener.SecurityRequestAndSessionListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>team.market.merchant.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>StoreFormServlet</servlet-name>
    <servlet-class>team.market.merchant.servlet.StoreFormServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>GetPicServlet</servlet-name>
        <servlet-class>team.market.merchant.servlet.GetPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreFormServlet</servlet-name>
    <url-pattern>/storeform</url-pattern>
  </servlet-mapping>
<servlet-mapping>
  <servlet-name>GetPicServlet</servlet-name>
  <url-pattern>getPic</url-pattern>
</servlet-mapping>



</web-app>
